body {
  position: relative;
  overflow-x: hidden; }

.box-container {
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative; }

.ct-mb {
  display: none; }

main {
  font-family: roboto; }

@media only screen and (max-width: 1199px) {
  .box-container {
    padding: 0 5px; } }

@media only screen and (max-width: 991px) {
  .box-container {
    padding: 0 10px; } }

@media only screen and (max-width: 991px) {
  .ct-desk {
    display: none; }
  .ct-mb {
    display: block; } }

.typo-title {
  font-family: 'Oppo-2019044a';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px; }
  @media only screen and (max-width: 768px) {
    .typo-title {
      font-size: 20px; } }

.typo-subtitle {
  font-family: 'Oppo-2019044a';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px; }
  @media only screen and (max-width: 768px) {
    .typo-subtitle {
      font-size: 16px; } }

.typo-content {
  font-family: 'Oppo-2019044a';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #CBD1D6; }
  .typo-content strong {
    font-size: inherit;
    color: inherit;
    font-weight: 700; }

.btnn {
  background-image: linear-gradient(to bottom, #f5515f, #9f041b);
  color: #fff; }

.select-color {
  display: flex;
  justify-content: center; }
  .select-color .item {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .select-color .item:not(:last-child) {
      margin-right: 16px; }
    .select-color .item span {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative; }
      .select-color .item span:before {
        content: "";
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        border-radius: 50%;
        border: 1px solid #cbd1d6; }
      @media only screen and (max-width: 768px) {
        .select-color .item span {
          margin-bottom: 2px; } }
    .select-color .item__text {
      font-size: 20px;
      line-height: 28px;
      color: #444B52;
      margin-left: 12px; }
      @media (max-width: 768px) {
        .select-color .item__text {
          font-size: 14px;
          line-height: 20px;
          margin-left: 0; } }
    .select-color .item.active .item__text {
      font-weight: 500; }
    .select-color .item.active span:after {
      content: "\e801";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      font-family: "icon";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      -webkit-font-smoothing: antialiased; }
    .select-color .item.active span:before {
      border: 1px solid #212529; }
    .select-color .item--green span:before {
      background: #DCF4EF; }
    .select-color .item--green.active span::after {
      color: #212529; }
    .select-color .item--black span:before {
      background: #000; }
    .select-color .item--black.active span::after {
      color: #fff; }
    @media only screen and (max-width: 768px) {
      .select-color .item {
        flex-direction: column; } }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

.custom-checkbox {
  display: block; }
  .custom-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer; }
    .custom-checkbox input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 5px;
      width: 6px;
      height: 12px;
      border: solid #2F855A;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
  .custom-checkbox label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px; }
    .custom-checkbox label:before {
      content: '';
      -webkit-appearance: none;
      border: 1px solid #CBD1D6;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      left: 0;
      top: -1px; }

.section-rules {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 32px 0; }
  .section-rules .inner-section-rules {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    max-width: 1200px;
    margin: 0 auto;
    color: #444B52; }
    .section-rules .inner-section-rules > * {
      width: 49%; }
  .section-rules .box-shadow {
    box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
    border-radius: 6px;
    padding: 16px; }
    .section-rules .box-shadow .bgd-overlay {
      border-radius: 0 0 6px 6px; }
  .section-rules .blue {
    color: #4299e1; }
  .section-rules .wrap-btn {
    text-align: center; }
  .section-rules .bgd-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 160px 0 16px;
    background: linear-gradient(360deg, #fff 0.46%, rgba(255, 255, 255, 0) 98.15%); }
  @media only screen and (max-width: 1200px) {
    .section-rules .inner-section-rules {
      padding: 0 5px; } }
  @media only screen and (max-width: 991px) {
    .section-rules .inner-section-rules {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px; }
    .section-rules .inner-section-rules {
      display: block; }
      .section-rules .inner-section-rules > div {
        width: 100%; }
    .section-rules .content-rules-programe {
      margin-bottom: 24px; }
    .section-rules .caption-rules {
      text-align: center;
      font-size: 20px;
      line-height: 28px; } }

.btn-more {
  border: 1px solid #CBD1D6;
  border-radius: 4px;
  padding: 5px 28px 5px 12px;
  color: #444B52;
  background-color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out; }
  .btn-more:after {
    position: absolute;
    top: 11px;
    right: 8px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #CBD1D6;
    transition: color .4s ease-in-out, background-color .4s ease-in-out, border-color .4s ease-in-out, box-shadow .4s ease-in-out; }
    .btn-more:after:hover {
      color: #444B52; }
  .btn-more:hover {
    text-decoration: none;
    background-color: transparent;
    color: #444B52; }
  @media only screen and (max-width: 850px) {
    .btn-more {
      font-size: 14px;
      padding: 3px 28px 2px 10px; } }

.content-rules {
  position: relative;
  background-color: #fff;
  height: 492px;
  overflow: hidden; }

.caption-rules {
  font-size: 24px;
  line-height: 32px;
  color: #32373D;
  font-weight: 500;
  padding-bottom: 16px; }

.content-rules-programe {
  font-size: 16px;
  line-height: 24px; }
  .content-rules-programe .time {
    padding-bottom: 16px; }
    .content-rules-programe .time p {
      padding-bottom: 0; }
  .content-rules-programe p {
    padding-bottom: 8px; }

.content-rules-list-customer .frm-search {
  position: relative;
  width: 300px; }
  .content-rules-list-customer .frm-search:before {
    content: "\e9a6";
    position: absolute;
    top: 2px;
    left: 9px;
    display: inline-block;
    font-family: "icon";
    color: #939CA3;
    margin-right: 5px; }
  .content-rules-list-customer .frm-search ::placeholder {
    color: #939CA3; }
  .content-rules-list-customer .frm-search .form-control {
    background: #fff;
    font-size: 14px;
    outline: none;
    width: 100%;
    border: 1px solid #CBD1D6;
    padding: 3px 12px 3px 28px;
    border-radius: 4px;
    height: auto; }
    .content-rules-list-customer .frm-search .form-control:focus {
      border-color: #66afe9; }
  .content-rules-list-customer .frm-search i {
    width: 16px; }

.content-rules-list-customer .top-rules {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-bottom: 16px; }

.content-rules-list-customer .list-rules {
  border: 1px solid #EDEEEF;
  border-radius: 4px;
  margin-bottom: 16px;
  max-height: 361px;
  overflow: hidden; }

.content-rules-list-customer .tb-rules {
  width: 100%;
  font-size: 14px;
  text-align: left; }
  .content-rules-list-customer .tb-rules td {
    padding: 8px 8px 7px;
    vertical-align: top; }
  .content-rules-list-customer .tb-rules tr {
    border-bottom: 1px solid #EDEEEF; }
    .content-rules-list-customer .tb-rules tr:last-child {
      border-bottom: none; }
    .content-rules-list-customer .tb-rules tr:first-child {
      border-radius: 4px 4px 0 0; }
    .content-rules-list-customer .tb-rules tr:last-child {
      border-radius: 0 0 4px 4px; }
    .content-rules-list-customer .tb-rules tr:nth-child(odd) {
      background-color: #F8F9FA; }
    .content-rules-list-customer .tb-rules tr:hover {
      background-color: #f5f5f5; }

.content-rules-list-customer .wrap-icon {
  position: relative;
  padding-left: 18px; }
  .content-rules-list-customer .wrap-icon:before {
    content: '\e801';
    font-family: "icon";
    border-radius: 100%;
    width: 14px;
    height: 14px;
    color: #fff;
    font-size: 9px;
    top: 1px;
    left: 0;
    position: absolute;
    line-height: 14px; }
  .content-rules-list-customer .wrap-icon.icon-check-border {
    color: #2F855A; }
    .content-rules-list-customer .wrap-icon.icon-check-border:before {
      background-color: #2F855A; }
  .content-rules-list-customer .wrap-icon.icon-waiting-border {
    color: #B7791F; }
    .content-rules-list-customer .wrap-icon.icon-waiting-border:before {
      content: '\e951';
      background-color: #B7791F; }

.content-rules-list-customer .wrap-check {
  padding-left: 15px; }

@media only screen and (max-width: 850px) {
  .content-rules-list-customer .frm-search {
    width: 200px; }
    .content-rules-list-customer .frm-search input {
      font-size: 14px; } }

.popup-show-list-customer .content-rules-list-customer .list-rules {
  max-height: 100%; }

.popup-show-list-customer .content-rules-list-customer .caption-rules,
.popup-show-list-customer .content-rules-list-customer .wrap-btn {
  text-align: center; }

.shadow-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: opacity .15s linear; }
  .shadow-overlay.show {
    display: block;
    opacity: 0.5; }

.popup-modal {
  display: none;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999; }
  .popup-modal.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0; }
    .popup-modal.show .popup-modal-dialog {
      min-height: calc(100% - 3.5rem);
      margin: 0 auto;
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.popup-modal-dialog {
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }
  .popup-modal-dialog .popup-main {
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    position: relative; }
  .popup-modal-dialog .popup-btn-close {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #575656;
    box-shadow: 0px 2px 10px #000;
    text-align: center;
    cursor: pointer; }
    .popup-modal-dialog .popup-btn-close i {
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 28px; }
  .popup-modal-dialog .popup-contents {
    max-height: 380px;
    overflow-y: auto; }
  .popup-modal-dialog .popup-title {
    font-size: 24px;
    line-height: 32px;
    color: #32373D;
    font-weight: 500;
    padding-bottom: 16px;
    text-align: center; }
  .popup-modal-dialog .content-rules {
    height: auto; }
  .popup-modal-dialog .blue {
    color: #4299e1; }
  .popup-modal-dialog .content-rules {
    padding-right: 5px; }
  @media only screen and (max-width: 991px) {
    .popup-modal-dialog {
      width: calc(100% - 20px); }
      .popup-modal-dialog .popup-title {
        font-size: 20px;
        line-height: 28px; }
      .popup-modal-dialog .popup-btn-close {
        width: 24px;
        height: 24px;
        right: -8px;
        top: -8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .popup-modal-dialog .popup-btn-close i {
          font-size: 12px;
          line-height: 1; } }

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1;
  height: 100vh; }

.mobile-only {
  display: none !important; }

@media only screen and (max-width: 991px) {
  .desktop-only {
    display: none; }
  .mobile-only {
    display: block !important; } }

.st-gift__title {
  color: aqua; }

body {
  position: relative;
  overflow-x: hidden; }
