    $primary: #cb1c22;
    $secondary: #0664f9;
    $green: #48BB78;
    section,
    nav {
        overflow: hidden;
    }
    
    a {
        cursor: pointer;
        &,
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            outline: none;
            background: inherit;
        }
    }
    
    .box-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive(xsm) {
            flex-direction: column-reverse;
        }
    }
    
    .no-scroll {
        overflow: hidden;
        position: relative;
        height: 100%;
    }
    
    .ld-btn-box {
        font-size: 0;
    }
    
    .ld-btn {
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        width: calc((100% - 24px) / 2);
        max-width: 228px;
        padding: 10px 0;
        border-radius: 6px;
        color: #fff;
        display: inline-block;
        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
        &.btn-primary {
            margin-right: 24px;
        }
        @include responsive("sm") {
            width: calc(100% - 20px);
            &.btn-primary {
                margin-right: 8px;
            }
        }
        @include responsive(xsm) {
            padding: 7px 0;
        }
        span {
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #fff;
            margin-top: 2px;
        }
    }
    
    .cs-swiper {
        .box-button {
            position: absolute;
            max-width: 1200px;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
        .cs-btn {
            opacity: 1;
            color: #444b52;
            width: 40px;
            height: 40px;
            background: #ffffff;
            border: 1px solid #cbd1d6;
            box-sizing: border-box;
            border-radius: 100px;
            font-size: 16px;
            outline: none;
            &::before {
                font-family: "icon";
                font-style: normal;
                font-weight: 700;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                font-size: 120%;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            &::after {
                content: "";
            }
            &.swiper-button-disabled {
                opacity: 0;
            }
        }
        .btn-next {
            &::before {
                content: "\f105";
                left: 55%;
            }
        }
        .btn-prev {
            &::before {
                content: "\f104";
                left: 50%;
            }
        }
        .cs-pagination {
            bottom: 24px;
            height: 12px;
            line-height: 12px;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background: #CBD1D6;
                &.swiper-pagination-bullet-active {
                    background: #0664F9;
                }
            }
        }
        @include responsive("sm") {
            .box-button {
                display: none;
            }
            .cs-pagination {
                bottom: 32px;
            }
        }
    }
    
    .btn-primary {
        &,
        &:hover,
        &:active,
        &:focus {
            background: $primary !important;
        }
    }
    
    .btn-secondary {
        &,
        &:hover,
        &:active,
        &:focus {
            background: $secondary;
        }
    }
    
    .st-banner {
        background: linear-gradient(105deg, #3C6D74 -24.36%, #6A9DA1 43.74%, rgba(142, 194, 198, 0.529516) 75.21%, rgba(217, 217, 217, 0) 110.98%, #C4DEDF 127.25%);
        background-size: 100% 100%;
        text-align: center;
        &--left {
            width: 50%;
            max-width: 600px;
            margin-right: -15px;
            @include responsive(xsm) {
                width: 100%;
                max-width: 100%;
                margin: -60px 0 0 -4px;
                img {
                    width: 100%;
                }
            }
        }
        &--right {
            font-family: 'Oppo-2019044a', Roboto;
            font-style: normal;
            padding: 47px 0 46px;
            flex: 1;
            max-width: 585px;
            z-index: 1;
            @include responsive(md) {
                padding: 0 10px 0 0;
            }
            @include responsive(xsm) {
                padding: 0 10px;
            }
            @include responsive(xxs) {
                max-width: 100%;
            }
        }
        &__time {
            display: inline-flex;
            align-items: center;
            p {
                box-shadow: 0 0 0 1px #212529;
                border-radius: 30px;
                margin-right: 6px;
                padding: 4px 17px;
                @include responsive(xsm) {
                    padding: 3px 11px;
                    margin-right: 3px;
                }
            }
            span {
                display: block;
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                color: #212529;
                @include responsive(xsm) {
                    font-size: 10px;
                }
            }
        }
        &__title {
            max-width: 343px;
            margin: 6px auto;
            @include responsive(md) {
                max-width: 200px;
                margin: 4px auto;
            }
        }
        &__price {
            font-family: 'Oppo-2019044a';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 1;
            color: #000000;
            padding: 4px 0;
            span {
                font-weight: 400;
                font-size: 18px;
                line-height: 1;
                color: #212529;
                @include responsive(xsm) {
                    font-size: 14px;
                }
            }
            @include responsive(md) {
                font-size: 16px;
                padding: 2px 0;
            }
        }
        &__promo {
            margin: 16px 0;
            @include responsive(md) {
                margin: 9px 0;
            }
        }
        &__btn {
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive(md) {
                margin-bottom: 9px;
                padding: 0 6px;
            }
        }
        &__customer {
            font-family: 'Roboto';
            font-weight: 400;
            color: #212529;
            &,
            strong,
            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                @include responsive(md) {
                    font-size: 12px;
                    line-height: 14px;
                    margin-right: -1px;
                }
            }
            strong {
                font-weight: 500;
                color: #212529;
            }
            a {
                color: #212529;
                text-decoration: underline;
                @include responsive(cxs) {
                    display: block;
                }
            }
        }
        @include responsive(xsm) {
            padding-top: 23px;
            background: linear-gradient(16.52deg, #3C6D74 18.04%, #6A9DA1 47.87%, rgba(142, 194, 198, 0.529516) 82.5%, #C4DEDF 105.06%, rgba(217, 217, 217, 0) 113.37%);
        }
    }
    
    .st-menu {
        background: #212529;
        position: sticky;
        top: -1px;
        left: 0;
        z-index: 999;
        .box-container,
        &--right {
            @include flexJustify(space-between);
        }
        &__logo {
            font-weight: 700;
            padding: 8px 0;
            color: #fff;
            cursor: pointer;
            &,
            span {
                font-family: Oppo-2019044a;
                font-size: 31px;
                line-height: 44px;
            }
            span {
                font-weight: 200;
            }
        }
        ul {
            display: flex;
            margin-right: 12px;
            li {
                padding: 0 12px;
                a {
                    padding: 18px 0;
                    display: inline-block;
                    font-family: Roboto;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    color: #fff;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 4px;
                        bottom: -1px;
                        left: 0;
                        background: #fff;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        text-decoration: none;
                    }
                    &.active {
                        &::before {
                            transform-origin: center right;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
        &__call {
            padding-top: 12px;
        }
        &__btn {
            position: relative;
            border-radius: 4px;
            color: #fff;
            display: inline-flex;
            align-items: center;
            padding: 10px 15px 10px 35px;
            justify-content: center;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            i {
                top: 8px;
                left: 12px;
                position: absolute;
                font-size: 20px;
                display: flex;
                align-items: center;
            }
            span {
                font-weight: 500;
            }
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: #fff;
            }
            &.btn-call {
                background: $green;
            }
            &.btn-cart {
                background: #cb1c22;
            }
        }
        @include responsive("sm") {
            &__logo {
                &,
                span {
                    font-size: 14px;
                    line-height: 20px;
                }
                padding: 14px 0;
            }
            ul {
                display: none;
            }
            &__call {
                padding-top: 6px;
            }
            &__btn {
                padding: 10px 16px 10px 36px;
                i {
                    font-size: 20px;
                }
                &.btn-call {}
            }
        }
    }
    
    .st-gift {
        background: conic-gradient(from 180deg at 50% 50%, rgba(217, 217, 217, 0) 0deg, #90C3C7 18.7deg, #B2DBDD 85.47deg, #D0E9ED 134.4deg, #8CC3C6 184.89deg, #CEE7EB 221.81deg, #87C1C3 286.63deg, #E2F3F3 330.68deg, rgba(217, 217, 217, 0) 360deg);
        background-size: 100% 100%;
        text-align: center;
        padding-top: 53px;
        &__title {
            font-family: 'Oppo-2019044a';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            color: #000000;
            @include responsive(xsm) {
                font-size: 20px;
                color: #212529;
                padding: 0 24px;
            }
        }
        &__price {
            display: inline-block;
            font-family: 'Oppo-2019044a';
            font-style: normal;
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 130%;
            background: #427C7E;
            border-radius: 30px;
            padding: 8px 0;
            max-width: 220px;
            margin-top: 16px;
            width: 100%;
            @include responsive(xsm) {
                font-size: 16px;
                padding: 4px 0;
                max-width: 191px;
            }
        }
        &__product {
            max-width: 1329px;
            margin: -139px auto 0;
            @include responsive(md) {
                padding-top: 53px;
            }
            @include responsive(xsm) {
                padding-top: 0;
                max-width: 360px;
                margin-top: -124px;
            }
        }
        @include responsive(xsm) {
            padding-top: 27px;
        }
    }
    
    .st-chip {
        @include setBg("../images/chip-bg.png");
        background-size: 100% 100%;
        padding: 356px 0 68px;
        .box-text {
            max-width: 513px;
            margin-left: auto;
        }
        @include responsive(md) {
            background-size: cover;
        }
        @include responsive(xsm) {
            @include setBg("../images/chip-bgmb.png");
            background-size: 100% 100%;
            padding: 403px 0 32px;
            .box-text {
                padding: 0 12px;
                margin: 0 auto;
            }
            .typo-content {
                font-size: 14px;
            }
        }
        @include responsive(xxs) {
            &__title {
                max-width: 280px;
            }
        }
    }
    
    .st-design {
        background: conic-gradient(from 180deg at 50% 50%, #DAECEC 0deg, #8FC6C9 106.88deg, #D3EBED 148.37deg, #9CCFD2 209.97deg, #D0E5E6 250.86deg, #9AC9CB 307.82deg, #DAECEC 360deg);
        background-size: 100% 100%;
        .box-text {
            max-width: 513px;
            padding: 389px 0 57px;
            z-index: 1;
            @include responsive(xsm) {
                padding: 0;
            }
        }
        .box-product {
            max-width: 1162px;
            margin-left: -513px;
            @include responsive(xsm) {
                max-width: 100%;
                margin-left: 0;
            }
        }
        .typo-title {
            color: #212529;
        }
        .typo-subtitle,
        .typo-content {
            color: #444B52;
        }
        @include responsive(xsm) {
            padding: 18px 0 32px;
            .box-container {
                padding-left: 12px;
                margin-right: -10px;
            }
            .box-text {
                margin-top: 17px;
                padding: 0 12px;
            }
            .typo-content {
                padding-right: 10px;
            }
        }
    }
    
    .st-handle {
        background: #000;
        background-size: 100% 100%;
        .box-flex {
            max-width: 1600px;
            margin: auto;
        }
        .box-text {
            z-index: 1;
            max-width: 513px;
            margin-left: 212px;
            .item {
                margin-top: 16px;
                img {
                    max-width: 26px;
                    margin-right: 16px;
                }
                span {
                    font-family: 'Oppo-2019044a';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: #CBD1D6;
                }
            }
            @include responsive(md) {
                margin-left: 12px;
                padding: 20px 0;
                .typo-content {
                    padding-right: 100px;
                }
            }
            @include responsive(xsm) {
                margin-top: -242px;
                max-width: 100%;
                margin-left: 0;
                padding: 0 24px;
                .typo-content {
                    padding-right: 0;
                }
            }
        }
        .box-product {
            margin-left: -365px;
            img {
                width: 100%;
            }
            @include responsive(xsm) {
                width: 100%;
                margin-left: 0;
                max-height: 830px;
            }
        }
        @include responsive(xsm) {
            padding-bottom: 32px;
        }
    }
    
    .st-vooc {
        background: #000;
        background-size: 100% 100%;
        position: relative;
        padding: 44px 0 316px;
        .box-flex {
            max-width: 1600px;
            margin: 0 auto;
        }
        .box-text {
            max-width: 553px;
            z-index: 1;
            margin-left: auto;
            margin-right: 212px;
            .list {
                margin-top: 16px;
                &-item {
                    img {
                        margin-right: 16px;
                        max-width: 38px;
                    }
                    span {
                        font-family: 'Oppo-2019044a';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: #CBD1D6;
                    }
                    &:first-child {
                        img {
                            margin-right: 16px;
                            max-width: 19px;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
            }
            @media(max-width: 1300px) {
                margin-right: 0;
            }
            @include responsive(xsm) {
                margin-left: 0;
                margin-top: -191px;
                padding: 0 24px;
            }
        }
        .box-product {
            position: absolute;
            bottom: 0;
            max-width: 1600px;
            @include responsive(xsm) {
                position: relative;
                max-height: 700px;
            }
        }
        @include responsive(xsm) {
            padding: 0 0 40px;
        }
    }
    
    .st-video {
        background: conic-gradient(from 180deg at 50% 50%, #DAECEC 0deg, #8FC6C9 106.88deg, #D3EBED 148.37deg, #9CCFD2 209.97deg, #D0E5E6 281.25deg, #DAECEC 360deg);
        padding: 64px 0;
        text-align: center;
        &__box {
            max-width: 1600px;
            margin: 0 auto;
            @include responsive(sm) {
                max-width: 768px;
                padding: 0 10px;
            }
        }
        &__play {
            max-width: 676px;
            margin: 0 auto;
        }
        &__content {
            width: 100%;
            position: relative;
            padding-top: 59%;
            @include responsive(md) {
                height: 100%;
            }
        }
        &__img,
        &__iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        img,
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 34px;
            @include responsive(sm) {
                border-radius: 20px;
            }
        }
        &__img {
            cursor: pointer;
        }
        &__iframe {
            display: none;
        }
        &__title {
            margin-bottom: 28px;
            p {
                line-height: 1;
                @include responsive(sm) {
                    line-height: 130%;
                    text-align: left;
                }
            }
            @include responsive(sm) {
                margin-bottom: 0;
            }
            &.ct-mb {
                padding: 0 14px;
            }
        }
        &__group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 0;
            // margin-top: -400px;
            margin: 0 -56px;
            @include responsive(md) {
                margin: 0 -20px;
                align-items: initial;
            }
            @include responsive(sm) {
                padding: 10px 0 65px;
                flex-wrap: wrap;
                margin: 0;
                justify-content: center;
            }
        }
        .typo-title {
            color: #212529;
        }
        .typo-subtitle,
        .typo-content {
            color: #444B52;
        }
        .typo-content {
            margin: 42px auto auto;
            max-width: 847px;
            @include responsive(sm) {
                text-align: left;
                margin: 16px 14px 0;
            }
        }
        @include responsive(sm) {
            padding: 74px 0 70px;
            &__item{
                order: 2;
                max-width: calc(100% / 2 - 10px);
                &:first-child{
                    margin-right: 10px;
                }
            }
        }
    }
    
    .st-video__item{
        &-play{
            max-width: 676px;
            width: 100%;
            margin: auto 52px;
            @include responsive(md) {
                margin: 0 10px; 
            }
            @include responsive(sm) {
                order: 1;
                max-width: 100%;
                margin: 0 0 10px;
            }
        }
    }
    .s-booking {
        background: #fff;
        background-size: cover;
        padding: 92px 0;
        .box-flex {
            align-items: start;
            justify-content: space-between;
            @media (max-width: 992px) {
                align-items: center;
            }
        }
        &__product {
            text-align: center;
            width: 50%;
            .s-booking__img {
                img {
                    margin: auto;
                    max-width: 252px;
                    @include responsive(xs) {
                        max-width: 175px;
                    }
                }
            }
            .s-booking__color {
                margin: 32px auto 20px;
                @include responsive(xsm) {
                    margin: 16px auto 12px;
                }
            }
            .s-booking__price {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 32px;
                @media (max-width: 768px) {
                    margin-bottom: 16px;
                }
                .price__text {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: #444B52;
                    margin-right: 8px;
                    @media (max-width: 768px) {
                        font-size: 16px;
                        line-height: 24px;
                        margin-right: 4px;
                    }
                }
                .price__official {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 40px;
                    color: $primary;
                    margin-right: 8px;
                    @include responsive(xsm) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
            .s-booking__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                .ld-btn {
                    max-width: 200px;
                    &:first-child {
                        margin-right: 16px;
                        @include responsive(xsm) {
                            margin-right: 8px;
                        }
                    }
                    @include responsive(xsm) {
                        max-width: 160px;
                        border-radius: 10px;
                    }
                }
            }
            @media (max-width: 992px) {
                width: 100%;
                margin: 0 0 16px;
            }
            @media (max-width: 768px) {
                width: 100%;
                max-width: 100%;
                .btn--lg {
                    padding: 18px 0;
                }
            }
        }
        .st-booking--left {
            flex: 1;
            max-width: 576px;
            border-radius: 6px;
            .st-booking__title {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #32373D;
                text-align: center;
                margin-bottom: 16px;
                @include responsive(xsm) {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            ul {
                background: #ffffff;
                padding: 20px;
                border: 1px solid #cbd1d6;
                box-shadow: 0px 1px 4px 0px #0a0a0a26;
                border-radius: 6px;
                @media (max-width: 768px) {
                    padding: 12px;
                }
                li {
                    display: table;
                    width: 100%;
                    text-align: left;
                    .properties {
                        display: table-cell;
                        font-family: "Roboto";
                        font-size: 14px;
                        color: #444b52;
                        line-height: 20px;
                        font-weight: 400;
                        width: 26.3%;
                        vertical-align: top;
                        padding: 10px 16px;
                        @media (max-width: 768px) {
                            padding: 6px 8px;
                            width: 35.3%;
                        }
                    }
                    .detail {
                        display: block;
                        width: auto;
                        vertical-align: top;
                        font-family: "Roboto";
                        font-size: 14px;
                        color: #444b52;
                        padding: 10px 16px;
                        &.active {
                            display: table-cell;
                        }
                        @media (max-width: 768px) {
                            padding: 4px 8px;
                        }
                    }
                    &:nth-child(2n + 1) {
                        background: #f8f9fa;
                    }
                }
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        @media (max-width: 992px) {
            .box-flex {
                flex-direction: column;
            }
        }
        @include responsive(xsm) {
            padding: 32px 0;
        }
        .product {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
    
    @include responsive(xsm) {
        .tintuc {
            padding: 32px 0 !important;
        }
    }