body {
  position: relative;
  overflow-x: hidden; }

.box-container {
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative; }

.ct-mb {
  display: none; }

main {
  font-family: roboto; }

@media only screen and (max-width: 1199px) {
  .box-container {
    padding: 0 5px; } }

@media only screen and (max-width: 991px) {
  .box-container {
    padding: 0 10px; } }

@media only screen and (max-width: 991px) {
  .ct-desk {
    display: none; }
  .ct-mb {
    display: block; } }

.typo-title {
  font-family: 'Oppo-2019044a';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px; }
  @media only screen and (max-width: 768px) {
    .typo-title {
      font-size: 20px; } }

.typo-subtitle {
  font-family: 'Oppo-2019044a';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 16px; }
  @media only screen and (max-width: 768px) {
    .typo-subtitle {
      font-size: 16px; } }

.typo-content {
  font-family: 'Oppo-2019044a';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #CBD1D6; }
  .typo-content strong {
    font-size: inherit;
    color: inherit;
    font-weight: 700; }

.btnn {
  background-image: linear-gradient(to bottom, #f5515f, #9f041b);
  color: #fff; }

.select-color {
  display: flex;
  justify-content: center; }
  .select-color .item {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .select-color .item:not(:last-child) {
      margin-right: 16px; }
    .select-color .item span {
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative; }
      .select-color .item span:before {
        content: "";
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -2px;
        border-radius: 50%;
        border: 1px solid #cbd1d6; }
      @media only screen and (max-width: 768px) {
        .select-color .item span {
          margin-bottom: 2px; } }
    .select-color .item__text {
      font-size: 20px;
      line-height: 28px;
      color: #444B52;
      margin-left: 12px; }
      @media (max-width: 768px) {
        .select-color .item__text {
          font-size: 14px;
          line-height: 20px;
          margin-left: 0; } }
    .select-color .item.active .item__text {
      font-weight: 500; }
    .select-color .item.active span:after {
      content: "\e801";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      font-family: "icon";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      -webkit-font-smoothing: antialiased; }
    .select-color .item.active span:before {
      border: 1px solid #212529; }
    .select-color .item--green span:before {
      background: #DCF4EF; }
    .select-color .item--green.active span::after {
      color: #212529; }
    .select-color .item--black span:before {
      background: #000; }
    .select-color .item--black.active span::after {
      color: #fff; }
    @media only screen and (max-width: 768px) {
      .select-color .item {
        flex-direction: column; } }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

.custom-checkbox {
  display: block; }
  .custom-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer; }
    .custom-checkbox input:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 5px;
      width: 6px;
      height: 12px;
      border: solid #2F855A;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
  .custom-checkbox label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px; }
    .custom-checkbox label:before {
      content: '';
      -webkit-appearance: none;
      border: 1px solid #CBD1D6;
      border-radius: 2px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 8px;
      width: 16px;
      height: 16px;
      left: 0;
      top: -1px; }

.section-rules {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 32px 0; }
  .section-rules .inner-section-rules {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    max-width: 1200px;
    margin: 0 auto;
    color: #444B52; }
    .section-rules .inner-section-rules > * {
      width: 49%; }
  .section-rules .box-shadow {
    box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
    border-radius: 6px;
    padding: 16px; }
    .section-rules .box-shadow .bgd-overlay {
      border-radius: 0 0 6px 6px; }
  .section-rules .blue {
    color: #4299e1; }
  .section-rules .wrap-btn {
    text-align: center; }
  .section-rules .bgd-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 160px 0 16px;
    background: linear-gradient(360deg, #fff 0.46%, rgba(255, 255, 255, 0) 98.15%); }
  @media only screen and (max-width: 1200px) {
    .section-rules .inner-section-rules {
      padding: 0 5px; } }
  @media only screen and (max-width: 991px) {
    .section-rules .inner-section-rules {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px; }
    .section-rules .inner-section-rules {
      display: block; }
      .section-rules .inner-section-rules > div {
        width: 100%; }
    .section-rules .content-rules-programe {
      margin-bottom: 24px; }
    .section-rules .caption-rules {
      text-align: center;
      font-size: 20px;
      line-height: 28px; } }

.btn-more {
  border: 1px solid #CBD1D6;
  border-radius: 4px;
  padding: 5px 28px 5px 12px;
  color: #444B52;
  background-color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out; }
  .btn-more:after {
    position: absolute;
    top: 11px;
    right: 8px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #CBD1D6;
    transition: color .4s ease-in-out, background-color .4s ease-in-out, border-color .4s ease-in-out, box-shadow .4s ease-in-out; }
    .btn-more:after:hover {
      color: #444B52; }
  .btn-more:hover {
    text-decoration: none;
    background-color: transparent;
    color: #444B52; }
  @media only screen and (max-width: 850px) {
    .btn-more {
      font-size: 14px;
      padding: 3px 28px 2px 10px; } }

.content-rules {
  position: relative;
  background-color: #fff;
  height: 492px;
  overflow: hidden; }

.caption-rules {
  font-size: 24px;
  line-height: 32px;
  color: #32373D;
  font-weight: 500;
  padding-bottom: 16px; }

.content-rules-programe {
  font-size: 16px;
  line-height: 24px; }
  .content-rules-programe .time {
    padding-bottom: 16px; }
    .content-rules-programe .time p {
      padding-bottom: 0; }
  .content-rules-programe p {
    padding-bottom: 8px; }

.content-rules-list-customer .frm-search {
  position: relative;
  width: 300px; }
  .content-rules-list-customer .frm-search:before {
    content: "\e9a6";
    position: absolute;
    top: 2px;
    left: 9px;
    display: inline-block;
    font-family: "icon";
    color: #939CA3;
    margin-right: 5px; }
  .content-rules-list-customer .frm-search ::placeholder {
    color: #939CA3; }
  .content-rules-list-customer .frm-search .form-control {
    background: #fff;
    font-size: 14px;
    outline: none;
    width: 100%;
    border: 1px solid #CBD1D6;
    padding: 3px 12px 3px 28px;
    border-radius: 4px;
    height: auto; }
    .content-rules-list-customer .frm-search .form-control:focus {
      border-color: #66afe9; }
  .content-rules-list-customer .frm-search i {
    width: 16px; }

.content-rules-list-customer .top-rules {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-bottom: 16px; }

.content-rules-list-customer .list-rules {
  border: 1px solid #EDEEEF;
  border-radius: 4px;
  margin-bottom: 16px;
  max-height: 361px;
  overflow: hidden; }

.content-rules-list-customer .tb-rules {
  width: 100%;
  font-size: 14px;
  text-align: left; }
  .content-rules-list-customer .tb-rules td {
    padding: 8px 8px 7px;
    vertical-align: top; }
  .content-rules-list-customer .tb-rules tr {
    border-bottom: 1px solid #EDEEEF; }
    .content-rules-list-customer .tb-rules tr:last-child {
      border-bottom: none; }
    .content-rules-list-customer .tb-rules tr:first-child {
      border-radius: 4px 4px 0 0; }
    .content-rules-list-customer .tb-rules tr:last-child {
      border-radius: 0 0 4px 4px; }
    .content-rules-list-customer .tb-rules tr:nth-child(odd) {
      background-color: #F8F9FA; }
    .content-rules-list-customer .tb-rules tr:hover {
      background-color: #f5f5f5; }

.content-rules-list-customer .wrap-icon {
  position: relative;
  padding-left: 18px; }
  .content-rules-list-customer .wrap-icon:before {
    content: '\e801';
    font-family: "icon";
    border-radius: 100%;
    width: 14px;
    height: 14px;
    color: #fff;
    font-size: 9px;
    top: 1px;
    left: 0;
    position: absolute;
    line-height: 14px; }
  .content-rules-list-customer .wrap-icon.icon-check-border {
    color: #2F855A; }
    .content-rules-list-customer .wrap-icon.icon-check-border:before {
      background-color: #2F855A; }
  .content-rules-list-customer .wrap-icon.icon-waiting-border {
    color: #B7791F; }
    .content-rules-list-customer .wrap-icon.icon-waiting-border:before {
      content: '\e951';
      background-color: #B7791F; }

.content-rules-list-customer .wrap-check {
  padding-left: 15px; }

@media only screen and (max-width: 850px) {
  .content-rules-list-customer .frm-search {
    width: 200px; }
    .content-rules-list-customer .frm-search input {
      font-size: 14px; } }

.popup-show-list-customer .content-rules-list-customer .list-rules {
  max-height: 100%; }

.popup-show-list-customer .content-rules-list-customer .caption-rules,
.popup-show-list-customer .content-rules-list-customer .wrap-btn {
  text-align: center; }

.shadow-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: opacity .15s linear; }
  .shadow-overlay.show {
    display: block;
    opacity: 0.5; }

.popup-modal {
  display: none;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999; }
  .popup-modal.show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0; }
    .popup-modal.show .popup-modal-dialog {
      min-height: calc(100% - 3.5rem);
      margin: 0 auto;
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.popup-modal-dialog {
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }
  .popup-modal-dialog .popup-main {
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    position: relative; }
  .popup-modal-dialog .popup-btn-close {
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #575656;
    box-shadow: 0px 2px 10px #000;
    text-align: center;
    cursor: pointer; }
    .popup-modal-dialog .popup-btn-close i {
      color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 28px; }
  .popup-modal-dialog .popup-contents {
    max-height: 380px;
    overflow-y: auto; }
  .popup-modal-dialog .popup-title {
    font-size: 24px;
    line-height: 32px;
    color: #32373D;
    font-weight: 500;
    padding-bottom: 16px;
    text-align: center; }
  .popup-modal-dialog .content-rules {
    height: auto; }
  .popup-modal-dialog .blue {
    color: #4299e1; }
  .popup-modal-dialog .content-rules {
    padding-right: 5px; }
  @media only screen and (max-width: 991px) {
    .popup-modal-dialog {
      width: calc(100% - 20px); }
      .popup-modal-dialog .popup-title {
        font-size: 20px;
        line-height: 28px; }
      .popup-modal-dialog .popup-btn-close {
        width: 24px;
        height: 24px;
        right: -8px;
        top: -8px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .popup-modal-dialog .popup-btn-close i {
          font-size: 12px;
          line-height: 1; } }

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1;
  height: 100vh; }

.mobile-only {
  display: none !important; }

@media only screen and (max-width: 991px) {
  .desktop-only {
    display: none; }
  .mobile-only {
    display: block !important; } }

a:hover {
  cursor: pointer;
  text-decoration: none; }

.bg-inner {
  background-image: url("../images/st-perf-bg2.png");
  background-repeat: round;
  margin-bottom: 39px;
  max-width: 1206px;
  width: 100%; }

.st-banner {
  background-image: url("../images/background.png");
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center; }
  .st-banner_phone {
    max-width: 594px;
    width: 100%;
    margin: 0; }
  .st-banner_promotion {
    max-width: 585px;
    width: 100%;
    margin: 38px 0; }
  .st-banner_order {
    max-width: 333px;
    width: 100%;
    margin: 0 auto 16px auto; }
  .st-banner_promo-gift {
    margin-bottom: 16px; }
  .st-banner_btn-group {
    width: 100%;
    display: flex;
    justify-content: center; }
    .st-banner_btn-group a {
      font-family: "roboto";
      font-size: 20px;
      color: #fff;
      line-height: 14px;
      font-weight: 500; }
    .st-banner_btn-group p {
      font-family: "roboto";
      font-size: 14px;
      color: #fff;
      line-height: 14px;
      font-weight: 100; }
    .st-banner_btn-group .btn--primary {
      max-width: 228px;
      width: 100%;
      text-align: center;
      background-color: #cb1c22;
      border-radius: 6px;
      padding: 10px;
      transition: all 0.3s cubic-bezier(0, 0, 0.4, 1); }
      .st-banner_btn-group .btn--primary:hover {
        background-color: #bd1319; }
    .st-banner_btn-group .btn--link {
      max-width: 228px;
      width: 100%;
      text-align: center;
      background-color: blue;
      border-radius: 6px;
      margin-left: 24px;
      padding: 10px;
      transition: all 0.3s cubic-bezier(0, 0, 0.4, 1); }
      .st-banner_btn-group .btn--link:hover {
        background-color: #0303a2; }
  .st-banner_cus-booking {
    margin-top: 16px;
    text-align: center;
    width: 100%;
    color: #fff; }
    .st-banner_cus-booking a > u {
      color: white; }

.st-menu {
  background-color: #000; }
  .st-menu-contain {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .st-menu-contain--logo {
      max-width: 250px;
      width: 100%;
      font-family: Oppo-2019044a;
      font-size: 31px;
      color: #fff;
      line-height: 45px;
      font-weight: 300; }
    .st-menu-contain--right {
      margin: 10px;
      display: flex; }
  .st-menu--item {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center; }
    .st-menu--item li {
      margin-right: 20px; }
      .st-menu--item li:last-child {
        margin-right: 0; }
      .st-menu--item li a {
        color: #fff; }
  .st-menu--call {
    color: #fff;
    margin-left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CB1C22;
    border-radius: 6px;
    padding: 6px; }
  .st-menu .icon-call:before {
    font-size: 20px; }
  .st-menu span {
    margin-left: 10px; }

.st-video {
  background-image: url("../images/st-avt-backgr.png");
  background-size: cover;
  display: flex; }
  .st-video--img {
    margin: 64px 462px;
    max-width: 676px;
    width: 100%; }

.st-gift {
  background-image: url("../images/st-gift-bg.png");
  background-size: cover;
  text-align: center; }
  .st-gift-content {
    width: 100%;
    padding: 20px; }
    .st-gift-content-gift {
      font-family: Roboto;
      font-size: 36px;
      color: #000;
      line-height: 16px;
      font-weight: 700; }
    .st-gift-content-value {
      font-family: Roboto;
      font-size: 16px;
      color: #000;
      line-height: 19px;
      font-weight: 600;
      margin: 15px 0 6px 0; }
    .st-gift-content-cost {
      font-family: Roboto;
      font-size: 32px;
      color: #000;
      line-height: 38px;
      font-weight: 700; }
  .st-gift-top {
    display: flex;
    justify-content: center; }
    .st-gift-top_left {
      max-width: 513px;
      width: 100%;
      margin-right: 50px; }
    .st-gift-top_right {
      max-width: 599px;
      width: 100%; }
  .st-gift-bottom {
    display: flex;
    justify-content: center; }
    .st-gift-bottom_left {
      max-width: 599px;
      width: 100%;
      margin-right: 50px; }
    .st-gift-bottom_right {
      max-width: 513px;
      width: 100%; }

.st-avt_title {
  text-align: center;
  padding: 10px; }

.st-avt_title1 {
  font-family: Roboto;
  font-size: 36px;
  color: #000;
  line-height: 48px;
  font-weight: 700; }

.st-avt_title2 {
  font-family: Roboto;
  font-size: 26px;
  color: #495057;
  line-height: 31px;
  font-weight: 600;
  margin-top: 20px; }

.st-avt_img {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  color: #495057;
  line-height: 23px;
  font-weight: 400;
  gap: 16px;
  margin-top: 20px;
  width: 100%; }

.st-avt_AI {
  width: 100%;
  max-width: 300px; }

.st-avt_vidsel {
  width: 100%;
  max-width: 300px; }

.st-avt_sel {
  width: 100%;
  max-width: 300px;
  margin-top: 1px; }

.st-avt_night {
  width: 100%;
  max-width: 300px; }

.st-avt_boken {
  width: 100%;
  max-width: 248px; }

.st-avt-content {
  margin-top: 15px; }

.st-avt-content2 {
  margin-top: 20px;
  display: block; }

.st-trend {
  background-image: url("../images/st-trend-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center; }
  .st-trend-content {
    margin-top: 181px;
    margin-left: 20px; }
  .st-trend-content1 {
    font-family: Roboto;
    font-size: 36px;
    color: #212529;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 24px; }
  .st-trend-content2 {
    font-family: Roboto;
    font-size: 26px;
    color: #495057;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 24px; }
  .st-trend-content3 {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px; }
  .st-trend-content4 {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 400; }
    .st-trend-content4 ul {
      list-style: disc;
      margin-left: 30px; }
  .st-trend-product {
    width: 100%;
    max-width: 726px; }

.st-charge {
  background-image: url("../images/st-charge-bg.png");
  background-repeat: round;
  width: 100%;
  display: flex; }
  .st-charge-content {
    display: flex;
    margin-left: auto;
    margin-bottom: 344px;
    padding-top: 20px;
    gap: 20px;
    flex-direction: column; }
  .st-charge-first {
    font-family: Roboto;
    font-size: 36px;
    color: #212529;
    line-height: 56px;
    font-weight: 700; }
  .st-charge-second {
    font-family: Roboto;
    font-size: 26px;
    color: #212529;
    line-height: 24px;
    font-weight: 600; }
  .st-charge-third {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 400; }
  .st-charge-fourth {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 600;
    margin-left: 30px; }
    .st-charge-fourth ul {
      list-style: disc; }
  .st-charge-fifth {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 400; }

.st-perform {
  background-color: #000;
  display: flex; }
  .st-perform-content {
    margin: 0 auto;
    display: flex; }
    .st-perform-content-left {
      width: 100%;
      max-width: 830px;
      text-align: center; }
    .st-perform-content-top div:last-child {
      margin-bottom: 0; }
    .st-perform-content-top_first {
      font-family: Roboto;
      font-size: 26px;
      color: #fff;
      line-height: 50px;
      font-weight: 600;
      margin-bottom: 24px; }
    .st-perform-content-top_second {
      font-family: Roboto;
      font-size: 26px;
      color: #fff;
      line-height: 32px;
      font-weight: 600;
      margin-bottom: 24px; }
    .st-perform-content-top_third {
      font-family: Roboto;
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      font-weight: 400; }
    .st-perform-content-bottom {
      font-family: Roboto;
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      font-weight: 400;
      margin-top: 342px;
      margin-bottom: 40px; }
    .st-perform-content-right {
      display: flex;
      align-items: end;
      max-width: 262px;
      width: 100%; }
  .st-perform-store_title {
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center; }

.box-container {
  padding-top: 88px; }

.st-padair {
  display: flex;
  justify-content: center; }
  .st-padair-left {
    max-width: 597px;
    width: 100%;
    margin-left: 60px;
    margin-top: 24px; }
  .st-padair-cost {
    max-width: 726px;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 57px; }
  .st-padair-btn {
    width: auto;
    text-align: center; }
    .st-padair-btn__buy {
      background-color: #cb1c22;
      border-radius: 6px;
      padding: 20px;
      font-family: Roboto;
      font-size: 20px;
      color: #fff;
      line-height: 20px;
      font-weight: 500; }

.st-detail {
  background-color: white; }
  .st-detail-container {
    display: flex;
    justify-content: space-between; }
  .st-detail-left {
    max-width: 684px;
    width: auto; }
    .st-detail-left__top {
      background-color: #F8F9FA;
      display: flex;
      max-width: 500px;
      width: auto;
      font-family: Roboto;
      font-size: 20px;
      color: #6A737A;
      line-height: 21px;
      font-weight: 400;
      border-radius: 5px; }
      .st-detail-left__top-child1 {
        width: auto;
        padding: 12px 53px; }
      .st-detail-left__top-child2 {
        width: auto;
        padding: 12px 30px; }
      .st-detail-left__top-child3 {
        width: auto;
        padding: 12px 38px; }
    .st-detail-left__middle {
      text-align: center;
      margin-top: 25px; }
      .st-detail-left__middle_pic {
        max-width: 252px;
        width: auto;
        margin: 0 auto; }
    .st-detail-left__bottom {
      display: flex;
      margin-top: 32px; }
      .st-detail-left__bottom span {
        font-family: Roboto;
        font-size: 20px;
        color: #fff;
        line-height: 20px;
        font-weight: 500; }
      .st-detail-left__bottom p {
        font-family: Roboto;
        font-size: 14px;
        color: #fff;
        line-height: 14px;
        font-weight: 400; }
      .st-detail-left__bottom .btn--primary {
        max-width: 228px;
        width: 100%;
        text-align: center;
        background-color: #cb1c22;
        border-radius: 6px;
        padding: 10px;
        transition: all 0.3s cubic-bezier(0, 0, 0.4, 1); }
        .st-detail-left__bottom .btn--primary:hover {
          background-color: #bd1319; }
      .st-detail-left__bottom .btn--link {
        max-width: 228px;
        width: 100%;
        text-align: center;
        background-color: blue;
        border-radius: 6px;
        margin-left: 24px;
        padding: 10px;
        transition: all 0.3s cubic-bezier(0, 0, 0.4, 1); }
        .st-detail-left__bottom .btn--link:hover {
          background-color: #0303a2; }

.check-group {
  display: flex;
  justify-content: center;
  margin-top: 32px; }
  .check-group_yellow {
    display: flex;
    margin-right: 16px; }
  .check-group_black {
    display: flex; }
  .check-group-title {
    font-family: Roboto;
    font-size: 20px;
    color: #444B52;
    line-height: 28px;
    font-weight: 500;
    margin-left: 16px; }

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.pd-value {
  display: flex;
  justify-content: center;
  margin-top: 16px; }

.title {
  font-family: Roboto;
  font-size: 20px;
  color: #444B52;
  line-height: 28px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px; }

.cost {
  font-family: Roboto;
  font-size: 32px;
  color: #CB1C22;
  line-height: 40px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #fbf7f7; }
  table td,
  table th {
    text-align: left;
    padding: 10px 16px;
    font-family: Roboto;
    font-size: 14px;
    color: #495057;
    line-height: 20px;
    font-weight: 400; }
  table tr:nth-child(odd) {
    background-color: #e9ecef; }

.card-body {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 20px 20px 16px 20px; }

.card-title {
  font-family: Roboto;
  font-size: 28px;
  color: #343a40;
  line-height: 36px;
  font-weight: 500;
  justify-content: center;
  display: flex;
  margin-bottom: 16px; }

.card-Viewdetail {
  font-family: Roboto;
  font-size: 14px;
  color: #0664F9;
  line-height: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 0px 3px 0px;
  margin-top: 3px; }
  .card-Viewdetail a {
    color: #0168fa;
    position: relative;
    display: inline-block; }
  .card-Viewdetail a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #0168fa;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform .3s ease, -webkit-transform .3s ease; }
  .card-Viewdetail a:active,
  .card-Viewdetail a:focus,
  .card-Viewdetail a:hover {
    color: #0168fa; }
  .card-Viewdetail a:active:before,
  .card-Viewdetail a:focus:before,
  .card-Viewdetail a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

.st-event {
  display: flex; }
  .st-event_left {
    margin-right: 24px; }
  .st-event_rules {
    font-family: Roboto;
    font-size: 24px;
    color: #343a40;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 16px; }

.contain-content {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  gap: 24px;
  padding: 16px;
  position: relative; }
  .contain-content_first {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 400; }
  .contain-content_second {
    margin: 16px 0 8px 0; }
  .contain-content_third {
    text-align: center;
    position: absolute;
    height: 180px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 97.91%); }
    .contain-content_third-child {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding: 8px 8px 8px 12px;
      margin-bottom: 8px; }

.contain-list {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 16px; }

.list_find {
  display: flex;
  margin-bottom: 24px; }
  .list_find-box a {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 8px 8px 8px 12px;
    margin-right: 24px; }
  .list_find_bottom {
    justify-content: center;
    display: flex; }
  .list_find_more {
    margin-top: 24px;
    text-align: center;
    max-width: max-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 8px 8px 8px 12px; }

.news-content {
  display: flex; }

.news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; }
  .news-top_left {
    font-family: Roboto;
    font-size: 24px;
    color: #343a40;
    line-height: 32px;
    font-weight: 500; }
  .news-top_right {
    font-family: Roboto;
    font-size: 14px;
    color: #0664f9;
    line-height: 14px;
    font-weight: 400; }

.news-left_img {
  max-width: 630px;
  width: 100%; }

.news-left_guest {
  font-family: Roboto;
  font-size: 20px;
  color: #343a40;
  line-height: 28px;
  font-weight: 500;
  margin-top: 8px; }
  .news-left_guest div {
    font-family: Roboto;
    font-size: 20px;
    color: #343a40;
    line-height: 28px;
    font-weight: 500; }

.news-left_intro {
  font-family: Roboto;
  font-size: 16px;
  color: #343a40;
  line-height: 24px;
  font-weight: 400;
  margin-top: 8px; }
  .news-left_intro div {
    font-family: Roboto;
    font-size: 16px;
    color: #343a40;
    line-height: 24px;
    font-weight: 400; }

.news-left_bottom {
  display: flex;
  margin-top: 8px; }

.sale {
  background-color: #e9ecef;
  padding: 5px 8px 5px 8px;
  border-radius: 4px; }

.tips {
  background-color: #e9ecef;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  margin-left: 8px; }

.news-right {
  padding: 0px 20px 20px 20px;
  margin-left: 30px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  max-height: 491px;
  overflow-x: hidden;
  overflow-y: auto; }
  .news-right_img {
    max-width: 120px;
    width: 100%; }
  .news-right_title {
    margin-left: 8px;
    padding-top: 8px; }
  .news-right_img {
    max-width: 120px;
    width: 100%; }

.news-first {
  display: flex; }

.icon-search {
  margin-right: 10px; }

.QnA-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  padding: 6px 16px 6px 16px;
  justify-content: space-between;
  border-radius: 6px; }

.QnA-head {
  display: flex;
  padding: 16px 20px 16px 20px;
  justify-content: space-between;
  border-bottom: 2px solid #EDEEEF; }
  .QnA-head_title {
    font-family: Roboto;
    font-size: 20px;
    color: #343a40;
    line-height: 28px;
    font-weight: 500; }
  .QnA-head_search {
    font-family: Roboto;
    font-size: 14px;
    color: #99a2aa;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 6px 8px 6px 12px; }

.QnA-cmt {
  padding: 16px 20px 16px 20px; }
  .QnA-cmt_title {
    font-family: Roboto;
    font-size: 16px;
    color: #99a2aa;
    line-height: 24px;
    font-weight: 400; }
  .QnA-cmt_btn {
    background-color: #cb1c22;
    font-family: Roboto;
    font-size: 16px;
    color: #fff;
    line-height: 1 6px;
    font-weight: 500;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    margin: 18px 0; }

.QnA-SSG {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 8px 20px;
  background-color: #f8f9fa;
  align-items: center; }
  .QnA-SSG_sort {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    color: #495057;
    line-height: 20px;
    font-weight: 400; }
    .QnA-SSG_sort_title1 {
      margin-right: 8px; }
    .QnA-SSG_sort_title2 {
      margin-right: 10px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding: 4px 8px 4px 8px;
      border-radius: 4px; }

.circle {
  width: 50px;
  height: 50px;
  background: #4865e9;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  margin-right: 12px; }

.QnA-list {
  display: flex;
  margin-top: 16px;
  padding: 0 20px; }
  .QnA-list_name {
    font-family: Roboto;
    font-size: 18px;
    color: #343a40;
    line-height: 24px;
    font-weight: 500; }
  .QnA-list_cmt {
    font-family: Roboto;
    font-size: 16px;
    color: #495057;
    line-height: 24px;
    font-weight: 400; }
  .QnA-list_detail {
    display: flex;
    gap: 8px;
    align-items: center; }
  .QnA-list_time {
    font-family: Roboto;
    font-size: 14px;
    color: #99a2aa;
    line-height: 20px;
    font-weight: 500; }
  .QnA-list_react {
    display: flex;
    gap: 8px;
    font-family: Roboto;
    font-size: 14px;
    color: #0664f9;
    line-height: 14px;
    font-weight: 400; }
  .QnA-list_answer {
    display: flex;
    margin-top: 12px; }

.A_container {
  background-color: #f8f9fa;
  padding: 8px 12px;
  width: 1000px; }

.A_role {
  border-radius: 4px;
  background-color: #99a2aa;
  font-family: Roboto;
  font-size: 12px;
  color: #fff;
  line-height: 12px;
  font-weight: 400;
  padding: 4px 8px;
  align-items: center;
  display: flex;
  margin-left: 4px; }

.A_sp {
  display: flex; }

.st-root {
  display: flex;
  justify-content: center; }

.single-page {
  padding: 6px 12px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #444b52;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #cbd1d6; }
  .single-page:hover {
    background: #cb1c22;
    color: #fff;
    border-color: #cb1c22; }

.select-pages {
  justify-content: center;
  display: flex;
  gap: 8px;
  margin-top: 16px; }

.st-root-left {
  display: flex;
  gap: 24px;
  margin-right: 24px; }
  .st-root-left_child li {
    padding: 5px 0;
    display: flex;
    gap: 8px;
    font-family: Roboto;
    font-size: 14px;
    color: #0664f9;
    line-height: 14px;
    font-weight: 400;
    margin: 0 10px 18px 10px; }

.st-root-right {
  display: flex; }
  .st-root-right_left {
    margin-right: 24px; }
  .st-root-right_title {
    font-family: Roboto;
    font-size: 14px;
    color: #495057;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 8px; }
  .st-root-right_phone {
    font-family: Roboto;
    font-size: 20px;
    color: #cb1c22;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px; }

.sp_pay-title {
  font-family: Roboto;
  font-size: 14px;
  color: #495057;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8PX; }

.img1 {
  max-width: 152px;
  width: 100%; }

.img2 {
  max-width: 176px;
  width: 100%;
  margin-top: 8px; }

.certi-img {
  max-width: 176px;
  width: 100%;
  margin-top: 8px; }

.certi-img2 {
  max-width: 100px;
  width: 100%;
  margin-top: 8px; }

body {
  position: relative;
  overflow-x: hidden; }
