.typo {
    &-title {
        font-family: 'Oppo-2019044a';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 16px;
        @include responsive(xsm) {
            font-size: 20px;
        }
    }
    &-subtitle {
        font-family: 'Oppo-2019044a';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 16px;
        @include responsive(xsm) {
            font-size: 16px;
        }
    }
    &-content {
        font-family: 'Oppo-2019044a';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #CBD1D6;
        strong {
            font-size: inherit;
            color: inherit;
            font-weight: 700;
        }
    }
}